<div class="cont-hero-image"></div>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="imagen_form">
      <img src="assets/images/formula.jpg" alt="" />
      <img src="assets/images/huella.png" alt="" />
    </div>
    <div class="PRE-REGISTRO">
      <h1>PRE-REGISTRO DE ADOPCIÓN</h1>
      <p>
        ¡Estamos felices de que estes pensando en adoptar! Debes diligenciar
        totalmente este pre-registro y cumplir con lo contemplado para realizar
        una adopción. Los peluditos en adopción son animales callejeros o
        abandonados; no son regalados, tampoco son comprados, los requisitos
        aquí contenidos contemplan lo dispuesto en la Ley 1774 del 6 de enero
        del 2016 del estatuto nacional de protección animal.
      </p>
      <p>
        Esperamos que cada peludito encuentre un hogar llenito de amor. Ten en
        cuenta que ESTE DOCUMENTO DEBE SER DILIGENCIADO POR UNA PERSONA MAYOR DE
        25 AÑOS y NO es posible hacer solicitudes a nombre de terceras personas.
      </p>
      <br />
      <hr />
      <p>pedro</p>
      <p>cambiar de cuenta</p>
      <hr />
      <p class="obligatorio">* Indica que la pregunta es obligatoria</p>
    </div>

    <form action="">
      <div class="correo">
        <br />
        <label for="correo">Correo*</label><br />
        <input type="email" id="correo" name="correo" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="fecha_diligencia">
        <br />
        <label for="fecha">Fecha en que diligencia el formulario*</label><br />
        <input type="date" name="fecha" id="fecha" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="nombre_peludito">
        <br />
        <label for="peludito">Nombre del peludito a adoptar*</label><br />
        <input type="text" name="nombre_peludito" id="peludito" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="instagram">
        <br />
        <label for="instagram">Perfil de Instagram *</label><br />
        <input type="text" name="instagram" id="instagram" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="facebook">
        <br />
        <label for="facebook">Perfil de facebook* </label><br />
        <input type="text" name="facebook" id="facebook" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="Nombre_adoptante">
        <br />
        <label for="Nombre_adoptante">Nombre del futuro adoptante* </label
        ><br />
        <input
          type="text"
          name="Nombre_adoptante"
          id="Nombre_adoptante"
          required
        />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="edad">
        <br />
        <label for="edad">edad* </label><br />
        <input type="number" name="edad" id="edad" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="cedula">
        <br />
        <label for="cedula">cedula* </label><br />
        <input type="number" name="cedula" id="cedula" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="direccion">
        <br />
        <label for="direccion">Dirección de residencia* </label><br />
        <input type="text" name="direccion" id="direccion" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="Ciudad">
        <br />
        <label for="Ciudad">Ciudad* </label><br />
        <input type="text" name="Ciudad" id="Ciudad" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="celular">
        <br />
        <label for="celular">Numero de Celular * </label><br />
        <input type="number" name="celular" id="celular" required />
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="hogar">
        <br />
        <label for="hogar">Vives con alguien? * </label><br />
        <label for="" class="si"
          ><input type="radio" name="vivienda" value="si" /> Sí</label
        >
        <label for="" class="no"
          ><input type="radio" name="vivienda" value="no" /> No</label
        >
        <img src="assets/images/huella.png" alt="" />
      </div>

      <div class="inmueble">
        <br />
        <label for="inmueble">Tipo de inmueble * </label><br />
        <label for="" class="si"
          ><input type="radio" name="inmueble" value="si" /> Propio</label
        >
        <label for="inmueble" class="no"
          ><input type="radio" name="inmueble" value="no" /> Arrendado</label
        >
        <img src="assets/images/huella.png" alt="" />
      </div>
      <button class="button-86" role="button">ENVIAR</button>
    </form>
  </body>
</html>

