<div class="cont-image">
  <div class="cont-text">
    <p>Deseamos escucharte</p>
    <h1>Contactanos</h1>
  </div>
  <div class="cont-btn mt-5">
    <button type="button" class="btn btn-global btn-primary mx-4" (click)="goToSponsor()">
      Haz una donación
    </button>
  </div>
</div>
<div class="preguntas">
  <p>PREGUNTAS FRECUENTES</p>
  <h1>Lee la siguiente sección antes de contactarnos</h1>
</div>
<div class="texto">
  <p>Diariamente recibimos correos donde encontramos la mismas preguntas, por eso decidimos agruparlas en la siguiente sección para despejarlas y puedas conocer un poco más sobre nuestra labor. Si después de leerlas sgues con alguna duda, por favor no dudes en escribirnos 🙂</p>
</div>
<div class="text-container">
  <h2>¿Pueden recibir un perrito en su fundación?</h2>
  <p>
    Tenemos alrededor de 180 perritos, por lo que nos es díficil abrir un nuevo espacio. Los peludos en la Fundación Tepa han ingresado debido a las difíciles condiciones en que los hemos encontrado, si tu perrito esta sano podemos ayudarte difundiendo el caso para tratar de encontrarle un nuevo hogar. Escríbenos por Instagram o Facebook.
  </p>
</div>
<div class="text-containerr">
  <h2>¿Cuáles son sus canales oficiales de donación?</h2>
  <p>
    Cuenta de ahorros Bancolombia # 01316502624 🐶
  </p>
  <p>💚 Nequi 3213067647</p>
  <p>💗 Daviplata 3108540203</p>
</div>
<div class="text-containers">
  <h2>¿En qué emplean las donaciones?</h2>
  <p>
    Nuestra fundación es sin ánimo de lucro y los gastos que tenemos son bastantes ya que tenemos alrededor de 180 peluditos bajo nuestra protección. Los gastos van desde el pago de tratamientos médicos, hospitalizaciones y compra de medicamentos, hasta gastos de personal, instalaciones y materiales para limpieza y mantenimiento.
  </p>
</div>
-<div></div>
<div></div>