<div class="cont-image">
  <div class="cont-text">
    <h1>Apadrina y Dona</h1>
    <p>Aquí cuentas con nuestros canales de donaciones</p>
    <div class="donation">
      <p>Nequi 3114579278</p>
      <img src="assets/images/nequi.png" alt="Nequi">
  </div>
  
  <div class="donation2">
      <p>Daviplata 3114579278</p>
      <img src="assets/images/david plata.png" alt="Daviplata">
  </div>
  <div class="donation5">
    <p>Bancolombia</p>
    <img src="assets/images/bancolombia.jpg" alt="Bancolombia">
</div>
<div class="donation4">
  <p>Paypal</p>
  <img src="assets/images/paypal.png" alt="paypal">
</div>
<p> ¡POR CADA DONACION ESTAS AYUDANDO A UN PELUDITO!</p>
  