<div class="cont-home">
  <div class="cont-texts">
    <div class="cont-titles">
      <p>El AMOR DE NEUSTROS PELUDITOS</p>
      <h2>HAPPY PAWS</h2>
    </div>
    <div class="cont-description">
      <p>
        Deseamos ayudar a los perros y gatos que se encuentran desamparados en
        las calles.
      </p>
      <p>
        Nuestro proposito es darles una segunda oportunidad y que encunetren su
        hogar ideal
      </p>
    </div>
  </div>
  <div class="cont-btn mb-3">
    <button type="button" class="btn btn-global btn-primary mx-5" (click)="goToAdopt()">
      Adopta
    </button>
    <button type="button" class="btn btn-global btn-secondary" (click)="goToSponsor()">Apadrina</button>
  </div>
</div>
