<div class="cont-hero-image">
  <p>Quieres apoyarnos desde más cerca</p>
  <h2>¿Cómo puedes hacerlo?</h2>
</div>

<div class="p-2">
  <p class="mt-2 paragraphs text-customer">Siempre serás bienvenido</p>
  <h3 class="mb-3 text-customer">Si deseas ser voluntario debes:</h3>

  <div class="cont-info">
    <div class="section px-3">
      <ul>
        <li class="mb-3 paragraphs">
          Ser mayor de edad o ir acompañado por un adulto.
        </li>
        <li class="mb-3 paragraphs">
          Amar a los animales y estar dispuesto para ayudar.
        </li>
        <li class="mb-3 paragraphs">
          Llevar una donación de concentrado para los animalitos.
        </li>
        <li class="mb-3 paragraphs">
          Estar pendiente de nuestras redes y confirmar.
        </li>
      </ul>
      <p class="m-0 paragraphs">
        Inscribete a nuestra base de voluntarios, déjanos tus datos y recibirás
      </p>
      <p class="m-0 paragraphs">
        toda la información de voluntarios a tu correo electrónico.
      </p>
    </div>
    <div class="section">
      <div class="">
        <img
          [src]="pathImg"
          width="auto"
          height="200"
          alt="Logo"
          class="navbar-logo"
        />
      </div>
    </div>
  </div>
</div>
<div class="voltuntarios">
  <p>Experiencias inolvidables</p>
  <h1>Voluntarios</h1>
</div>
<div class="contenedort">
  <h1>TAPITAS X PATITAS</h1>
  <p></p>
  <p>Gracias a todos los que nos acompañaron el pasado sábado 29 de febrero en el voluntariado convocado por tapitasxpatitas</p>
  <p>Fue un día de mucho colorido, risas patitas por todos lados, lametazos y ladridos, de verdad nuestros peluditos sabían era un día especial, querían y sabían eran los protagonistas, deseaban ser acariciados y por qué no hasta posiblemente adoptados. Desde iniciado el día nos acompañó el rey sol con unos destellos impresionantes iluminando la Fundación.</p>
  <p>Todos los voluntarios llegaron con mucha energía, nos felicitaron por la labor, los peluditos mostraban sus mejores encantos, estaban conquistando corazones.</p>
  <p>Una vez más un aplauso a todos los que contribuyeron pintando postes y paseando perritos, fueron 6 horas maravillosas, de largo, todos estaban muy entusiasmados y querían dejar lo mejor posible la tarea asignada.  A Giovanni, Sebastian y Edwin mil GRACIAS.</p>
</div>
<div class="gallery-container">
  <div class="gallery-item">
      <img src="assets/images/a.jpg" alt="Imagen 1">
  </div>
  <div class="gallery-item">
      <img src="assets/images/b.jpg" alt="Imagen 2">
  </div>
  <div class="gallery-item">
      <img src="assets/images/c.jpg" alt="Imagen 3">
  </div>
  <div class="gallery-item">
      <img src="assets/images/d.jpg" alt="Imagen 4">
  </div>
  <div class="gallery-item">
    <img src="assets/images/e.jpg" alt="Imagen 4">
</div>
<div class="gallery-item">
  <img src="assets/images/f.jpg" alt="Imagen 4">
</div>
<div class="gallery-item">
  <img src="assets/images/h.jpg" alt="Imagen 4">
</div>
<div class="gallery-item">
  <img src="assets/images/i.png" alt="Imagen 4">
</div>
<div class="gallery-item">
  <img src="assets/images/j.png" alt="Imagen 4">
</div>
<div class="gallery-item">
  <img src="assets/images/k.jpg" alt="Imagen 4">
</div>
<div class="gallery-item">
  <img src="assets/images/l.jpg" alt="Imagen 4">
</div>
<div class="gallery-item">
  <img src="assets/images/m.jpg" alt="Imagen 4">
</div>
</div>
<div class="video-container">
  <video controls autoplay> 
    <source src="assets/images/video.mp4" type="video/mp4 " autoplay > 
    Tu navegador no soporta el elemento de video.
  </video>
</div>
<div>
  
</div>