.cont-hero-image {
  position: relative;
  width: 100%;
  height: 45vh;
  background-image: url("../../../../assets/images/hero-image.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.cont-hero-image h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  font-size: 3.5rem;
}

.cont-hero-image p {
  font-size: 1.5rem;
  font-weight: bold;
}

.cont-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
  width: 100%;
}

.section ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 500;
}

.section ul,
.section p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.paragraphs {
  font-size: 1rem;
  line-height: 1.5;
}

.section img {
  object-fit: contain;
  width: auto;
  height: 270px;
  max-height: 100%;
  margin-top: -70px;
  margin-bottom: 0;
  align-self: flex-start;
}

.cont-btn {
  text-align: center;
}

.btn-primary {
  padding: 0.7rem 2rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.btn-primary:hover {
  background-color: #5a7dff;
  border-color: #5a7dff;
}

.text-customer {
  font-weight: bold;
}
.voltuntarios{
  text-align: center;
  font-weight: 900;
}
.contenedort {
  width: 50%; /* Ajusta el ancho del contenedor */
  margin: auto; /* Centra el contenedor */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #FF00FF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 15px;
  height: 97vh;
  
  
}
h1 {
  color: #333;
  text-align: center;
}
p {
  color: #555;
  line-height: 1.6;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 1000px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 15px;
  width: 47%; /* Ajusta el ancho del contenedor */
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}
.video-container {
  width: 100%; /* Ancho del contenedor ajustable */
  max-width: 800px; /* Tamaño máximo del video */
  margin: auto; /* Centrar el contenedor */
  padding-top: 600px;
  margin-left: 20px

}

video {
  width: 1200px; /* Ajusta el ancho del video al contenedor */
  height: 500px ; /* Mantiene la proporción */
  
  
}
