<div class="cont-hero-image">
  <p>Quieres apoyarnos desde más cerca</p>
  <h2>¿Cómo puedes hacerlo?</h2>
  <button type="button" class="btn btn-primary">Visítanos</button>
</div>

<div class="p-2">
  <p class="mt-2 paragraphs text-customer">Siempre serás bienvenido</p>
  <h3 class="mb-3 text-customer">Si deseas ser voluntario debes:</h3>

  <div class="cont-info">
    <div class="section px-3">
      <ul>
        <li class="mb-3 paragraphs">
          Ser mayor de edad o ir acompañado por un adulto.
        </li>
        <li class="mb-3 paragraphs">
          Amar a los animales y estar dispuesto para ayudar.
        </li>
        <li class="mb-3 paragraphs">
          Llevar una donación de concentrado para los animalitos.
        </li>
        <li class="mb-3 paragraphs">
          Estar pendiente de nuestras redes y confirmar.
        </li>
      </ul>
      <p class="m-0 paragraphs">
        Inscribete a nuestra base de voluntarios, déjanos tus datos y recibirás
      </p>
      <p class="m-0 paragraphs">
        toda la información de voluntarios a tu correo electrónico.
      </p>
      <div class="cont-btn mt-2">
        <button type="button" class="btn btn-primary">
          Quiero inscribirme
        </button>
      </div>
    </div>
    <div class="section">
      <div class="">
        <img
          [src]="pathImg"
          width="auto"
          height="200"
          alt="Logo"
          class="navbar-logo"
        />
      </div>
    </div>
  </div>
</div>
